:root {
    --white: #ffffff;
    --light-gray: #B2B2B2;
    --light-gray-x: #f1f1f1;
    --black: #222222;
    --blue: #1e008a;
    --green: #04bb3b;
    --yellow: #e1f00c;
    --red: #e74b36;
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2 {
    margin: 0;
}


body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    position: relative;
    height: 100%;
    padding-left: 4rem;
}


.sidebar {
    width: 300px;
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    color: var(--white);
    background-color: var(--black);
    padding: 1.5rem;
    z-index: 9;

    .close {
        cursor: pointer;
    }

    .student-info {
        margin-top: 4rem;

        li {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 1.5rem;

            .label {
                margin-right: 2rem;
            }
        }
    }
}

.student-data {
    .class-name {
        width: 51vw;
        background-color: var(--blue);
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--yellow);
        font-weight: bold;
        font-size: 1.5rem;
        padding: .5rem;

        .toggle {
            font-size: 1rem;
            cursor: pointer;
        }
    }

    .section-name {
        width: 50vw;
        background-color: var(--black);
        margin-top: .5rem;
        margin-left: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .9rem;
        padding-left: .5rem;
    }

    .add-button {
        background-color: var(--green);
        padding: .5rem;
        cursor: pointer;
    }

    .class-name,
    .section-name {
        color: var(--white);
    }

    .student-names {
        margin-top: .5rem;
        margin-left: 2rem;

        li {
            min-width: 50px;
            display: inline-block;
            padding-left: .5rem;
            font-size: .9rem;
            background-color: var(--light-gray-x);
            color: var(--black);
            position: relative;
            cursor: pointer;
            margin-right: 1rem;
            text-transform: capitalize;

            &:hover {
                background-color: var(--green);
                color: var(--white);
            }
        }



        // .student-info-hover {
        //     position: absolute;
        //     top: 39px;
        //     left: 0px;
        //     min-width: 240px;
        //     width: 340px;
        //     background-color: var(--black);
        //     color: var(--white);
        //     display: none;
        //     z-index: 9;
        //     padding: 1rem;
        //     font-size: 1rem;
        //     ;

        //     .list {
        //         display: block;
        //         padding: .4rem 0;
        //     }
        // }
    }

    .student-names li:hover .student-info-hover {
        display: inline-block;
    }

    .active {
        display: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

// Modal Style

.modal-container {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-container {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
}

.modal-dialog {
    width: 500px;
    margin: 0px auto;
    background-color: white;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcdcdc;
    padding: .5em;
    border-radius: 5px 5px 0 0;
}

.modal-header h2 {
    font-size: 1.4rem;
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    padding: .5em;
    margin-top: 1rem;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: flex-end;
}

.modal-footer .add-new {
    font-size: 1rem;
    padding: .5em 1rem;
    color: var(--white);
    background-color: var(--green);
    border-radius: 5px;
}

.add-new,
.modal-close-btn {
    cursor: pointer;
}

.add-new-student {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.add-new-student input {
    padding: .4rem .6rem;
}

.student-names li span {
    background-color: var(--red);
    color: var(--white);
    padding: .5rem;
    margin-left: .7rem;
    display: inline-block;
}
